{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.register-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 87vh;
			color: black;
		}

		.register-form-container {
			max-width: 400px;
			padding: 20px;
			background-color: #f9f9f9;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		.register-form-title {
			text-align: center;
			margin-bottom: 30px;
		}

		.register-form-group {
			margin-bottom: 20px;
		}

		.register-form-label {
			font-weight: bold;
		}

		.register-form-control {
			width: 100%;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			transition: border-color 0.3s ease;
		}

		.register-form-control:focus {
			outline: none;
			border-color: #66afe9;
		}

		.register-btn {
			width: 100%;
			padding: 10px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		.register-btn:hover {
			background-color: #0056b3;
		}

		.register-alert {
			margin-bottom: 20px;
		}

		.register-profile-image {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-bottom: 5px;

		}
	</style>

	<div class="register-container">
        <div class="register-form-container">
            {# Mostrar errores de validación del formulario #}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger register-alert" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% set redirectToProfilePath = path('perfil') %}
                <script>
                    window.location.href = "/perfil";
                </script>
            {% else %}
                <h1 class="register-form-title">Únete a GassInkTattoo</h1>

                {# Mostrar errores de validación del formulario Symfony #}
                {% if registrationForm.vars.errors|length > 0 %}
                    <div class="alert alert-danger register-alert" role="alert">
                        {% for error in registrationForm.vars.errors %}
                            {{ error.messageKey|trans(error.messageData, 'validators') }}<br>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form_start(registrationForm) }}
                <div class="register-form-group">
                    <label class="register-form-label" for="{{ registrationForm.username.vars.id }}">Nombre de usuario</label>
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'register-form-control'}}) }}
                    {# Mostrar errores de validación específicos del campo #}
                    {{ form_errors(registrationForm.username) }}
                </div>
                <div class="register-form-group">
                    <label class="register-form-label" for="{{ registrationForm.email.vars.id }}">Email</label>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'register-form-control'}}) }}
                    {# Mostrar errores de validación específicos del campo #}
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="register-form-group">
                    <label class="register-form-label" for="{{ registrationForm.plainPassword.vars.id }}">Contraseña</label>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'register-form-control'}}) }}
                    {# Mostrar errores de validación específicos del campo #}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="register-form-group">
                    <div class="register-image-container" style="display: flex; align-items: center;">
                        <label class="register-form-label" for="{{ registrationForm.imagePerfil.vars.id }}">Imagen de perfil</label>
                        <img src="#" alt="Profile Image" class="register-profile-image" id="profile-image-preview" style="display: none;">
                        {{ form_widget(registrationForm.imagePerfil, {'attr': {'class': 'register-form-control', 'onchange': 'previewImage(this)'}}) }}
                    </div>
                    {# Mostrar errores de validación específicos del campo #}
                    {{ form_errors(registrationForm.imagePerfil) }}
                </div>
                <div class="register-form-group">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">Aceptar los términos y condiciones</label>
                    {# Mostrar errores de validación específicos del campo #}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="register-btn">Registrarme</button>
                {{ form_end(registrationForm) }}
            {% endif %}
        </div>
    </div>

	<script>

		//PARA MOSTRAR LA IMAGEN EN EL FORMULARIO
		function previewImage(input) {

            if (input.files && input.files[0]) {
            
                var reader = new FileReader();

                reader.onload = function (e) {

                    document.getElementById('profile-image-preview').style.display = 'block';
                    document.getElementById('profile-image-preview').src = e.target.result;

                }

                reader.readAsDataURL(input.files[0]);
            } else {

                document.getElementById('profile-image-preview').style.display = 'none';
            }
        }
	</script>
{% endblock %}
